<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>adauga bilet</title>
</head>

<body>


   
			<table align="center">


			   <tr>
						<th width="300">
						Adauga Eveniment
						</th>

				</tr>
				<tr>
						<th width="300">
							<input type="number" placeholder="ID-ul evenimentului" name="ID1">
						</th>
				<tr>
                <tr>

						<th width="300">
							<input type="text" placeholder="Numar Card" name="NumarCard">
						</th>

			    </tr>
				<tr>

						<th width="300">
							<input type="text" placeholder="Nume Titular" name="NumeTitular">
						</th>
				</tr>

				<tr>


						<th width="300">
							<input type="text" placeholder="Data Expirarii" name="E">
						</th>
				</tr>


				<tr>


						<th width="300">
							<input type="number" placeholder="CVV" name="CVV">
						</th>
				</tr>


				<tr>


						<th width="300">
							<input type="text" placeholder="Email" name="Email">
						</th>
				</tr>
	

                <tr>
                      <th>
						  <button onclick="myFunction()">CUMPARA</button>
					  </th>
				</tr>
			</table>
<script>
function myFunction() {
  alert("Biletul a fost trimis pe email");
}
</script>
</body>
</html>